@layer utilities {
  select:focus-visible{
    outline: none;
  }
  b,strong{
    @apply text-black;
  }
  ul,
  ol {
    @apply m-0;
  }

  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
  a:not(.link){
    @apply cursor-pointer decoration-black-10 text-black inline-block font-semibold transition ease-in-out duration-500 hover:underline active:underline underline-offset-4;
    &:hover,&:focus, &:visited{
      @apply text-black;
    }
  }
  a.btn{
    @apply inline-block text-center no-underline rounded-[2px] text-white-30 bg-black-20 text-base font-oswald uppercase px-6 py-3 hover:bg-black-30;
    &:hover,&:focus, &:visited{
      @apply text-white-30 no-underline;
    }
    &.btn-long{
      @apply md:min-w-52;
    }
    &.--white{
      @apply bg-white-20 text-black hover:bg-black-30 focus:bg-black-30 hover:text-white-20 focus:text-white-20;
    }
    &.--white-black{
      @apply bg-black-20 md:bg-white-20 text-white-30 md:text-black hover:bg-black-30 focus:bg-black-30 hover:text-white-20 focus:text-white-20;
    }
    &.secondary{
      @apply bg-transparent border border-white-40 text-black hover:bg-black-20 hover:text-white-30;
    }
  }

  .btn-burger{
    @apply w-6 h-6 flex items-center justify-center relative transition-all duration-500 ease-in hover:opacity-45 hover:cursor-pointer;
    &.toggled{
      ul.lines{
        li.line{
          transform: rotate(45deg) translateZ(0);
          &:last-child{
            transform: rotate(-45deg) translateZ(0);
          }
        }
      }
    }
    ul.lines{
      @apply w-6 h-6 list-none p-0 text-black;
      -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      transition: transform 1s cubic-bezier(.23,1,.32,1),color 1s cubic-bezier(.23,1,.32,1);
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      li.line{
        @apply w-full h-0.5 bg-black-10 absolute top-1/2;
        margin-top: -.75px;
        -webkit-transform: translateY(-3.75px) translateZ(0);
        transform: translateY(-3.75px) translateZ(0);
        -webkit-transition: -webkit-transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
        transition: transform 1s cubic-bezier(.23,1,.32,1),background-color 1s cubic-bezier(.23,1,.32,1);
        &:last-child{
          -webkit-transform: translateY(3.75px) translateZ(0);
          transform: translateY(3.75px) translateZ(0);
        }
      }
    }
  }

  .mobile-menu{
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s;
    &.toggled{
      @apply opacity-100 translate-y-0 visible;
    }
  }

}

body.ov-hidden{
  overflow-y: hidden;
}

body{
  font-variant-numeric: lining-nums;
}

.modal-window.active {
  @apply visible opacity-100 pointer-events-auto;
}

.bg-image-cover{
  &::after{
    @apply absolute left-0 bottom-0 w-full h-[30%] sm:h-[40%] pointer-events-none bg-gradient;
    content: "";
  }
  &.--black{
    &::after{
      @apply bg-gradient-black;
      content: "";
    }
  }
}